.node rect {
cursor: move;
fill-opacity: .9;
shape-rendering: crispEdges;
}
.node text {
pointer-events: none;
text-shadow: 0 1px 0 #fff;
}
.link {
fill: none;
stroke: #000;
stroke-opacity: .2;
}
.link:hover {
stroke-opacity: .5;
}

body{
    display: flex;
}

.sankey-chart-container{
    display: inline-flex;
    width: 65vw;
    height: 100vh;
}

.bar-chart-container{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33vw;
    height: 70vh;
    position: fixed;
    right: 0;
}
